@model Book

@{
  ViewData["Title"] = "Add";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="List">Books</a></li>
    <li class="breadcrumb-item active">New Book</li>
  </ol>
</nav>

<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" required>
  </div>
  <div class="form-group">
    <label asp-for="Author"></label>
    <input asp-for="Author" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="Notes"></label>
    <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input id="content" name="content" type="file" class="form-control-file" required>
  </div>
  <div class="form-group">
    <label for="cover">Cover</label>
    <input id="cover" name="cover" type="file" class="form-control-file">
  </div>
  <a asp-action="List" class="btn btn-outline-secondary">Cancel</a>
  <button class="btn btn-outline-dark ml-2">Save</button>
</form>