# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = space
charset = utf-8

[*.cs]
indent_size = 4
insert_final_newline = true

[*.{csproj,proj,cshtml}]
indent_size = 2
