@model List<Bookmark>

@{
  ViewData["Title"] = "Bookmarks";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Bookmarks</li>
  </ol>
</nav>

<table class="table">
  <thead>
    <tr><th>Book</th><th>Chapter</th><th></th></tr>
  </thead>
  <tbody>
    @foreach (var bookmark in Model)
    {
      <tr>
        <td>
          <a asp-controller="Books" asp-action="View"
             asp-route-id="@bookmark.Chapter.Book.Id">@bookmark.Chapter.Book.Title</a>
        </td>
        <td>
          <a asp-controller="Chapters" asp-action="View" 
             asp-route-id="@bookmark.Chapter.Id">@bookmark.Chapter.Name</a>
        </td>
        <td>
          <i class="fas fa-trash-alt"></i>
        </td>
      </tr>
    }
  </tbody>
</table>
