@{
  ViewData["Title"] = "Profile";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Profile</li>
  </ol>
</nav>

@if (Context.Request.Query.ContainsKey("Saved"))
{
  <div class="alert alert-success" role="alert">
    Profile Saved!
  </div>
}

<form method="post">
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="password1">Password</label>
      <input id="password1" name="password" type="password" class="form-control">
    </div>
    <div class="mb-3 col-md-6">
      <label for="password2">Password Again</label>
      <input id="password2" name="password2" type="password" class="form-control">
    </div>
  </div>
  <a asp-controller="Books" asp-action="List" class="btn btn-outline-secondary">Cancel</a>
  <button type="submit" id="save" class="btn btn-outline-primary ms-2">Save</button>
</form>

@section Scripts {
  <script>
    $(function () {
      $("#save").prop("disabled", true);
      $("[type='password']").keyup(function () {
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        if (password1 && password2 && password1 == password2)
          $("#save").prop("disabled", false);
        else
          $("#save").prop("disabled", true);
      });
    });
  </script>
}