{
  "Application": {
    "Url": "http://192.168.0.121/evelyn",
    "PathBase": "/evelyn"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=evelyn;Username=cysun;Password=abcd"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}
