{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=evelyn;User ID=cysun;Password=abcd;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}
