<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Evelyn - @ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
  @await RenderSectionAsync("StyleSheets", false)
  <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body class="container">

<header>
  <nav class="navbar navbar-expand-md bg-body-secondary">
    <div class="container-fluid">
      @if (User.Identity is { IsAuthenticated: true })
      {
        <a class="navbar-brand" asp-controller="Books" asp-action="List">Evelyn Digital Library</a>
      }
      else
      {
        <span class="navbar-brand">Evelyn Digital Library</span>
      }
      @if (User.Identity is { IsAuthenticated: true })
      {
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" asp-controller="Books" asp-action="List">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Bookmarks" asp-action="List">Bookmarks</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="downloadDropdown" role="button"
                 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download
              </a>
              <div class="dropdown-menu" aria-labelledby="downloadDropdown">
                <a class="dropdown-item" asp-controller="Download" asp-action="AllFiles">All Files</a>
                <a class="dropdown-item" asp-controller="Download" asp-action="AllMetadata">All Metadata</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Profile" asp-action="Edit">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
          </ul>
          <form asp-controller="Books" asp-action="List" method="get" class="d-flex">
            <div class="input-group">
              <input name="term" class="form-control form-control-sm" type="search" aria-label="Search">
              <button class="btn btn-outline-secondary btn-sm" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
        </div>
      }
    </div>
  </nav>
</header>
<main role="main">
  <div class="container p-3">
    @RenderBody()
  </div>
</main>
<footer>
  <div class="container text-center text-body-tertiary mb-3">
    <div>&copy; Copyright 2012-2022 by Chengyu Sun.</div>
    <div class="small">
      Icons made by
      <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
      <a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
        BY</a>
    </div>
  </div>
</footer>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  function updateTheme() {
    $("html").attr("data-bs-theme", window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  }

  $(function () {
    // Code from https://github.com/shaack/bootstrap-auto-dark-mode/blob/main/src/bootstrap-auto-dark-mode.js
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", updateTheme);
    updateTheme();
  });
</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
